@charset "UTF-8";

body {
  font-family: "ヒラギノ角ゴ Pro W3", "HiraKakuProN-W3", "ヒラギノ角ゴ Pro W6", "HiraKakuProN-W6", "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
  font-size: 14px;
  font-size: 1.4rem;
  line-height: 2;
  color: #333;
}

#calculator_wrap{
	width: 600px;
    margin: 30px auto;
}
input[type="text"]{
	font-size: 33px;
	width: 575px;
    margin: 0 auto 15px; 
    padding: 5px;
    display: block;
}
#keyboard button{
	font-size: 25px;
	width: 23%;
    padding: 0;
    margin: 0 6px 10px 6px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 10px;
}
#keyboard button:hover{
    background-color: #ccc;
    transition: background-color 0.5s;
}