body{
    font-family: "ヒラギノ角ゴ Pro W3", "HiraKakuProN-W3", "ヒラギノ角ゴ Pro W6", "HiraKakuProN-W6", "Meiryo UI" , "メイリオ" , Meiryo , "ＭＳ Ｐゴシック" , "MS PGothic" , sans-serif;
    font-size:14px;
    font-size: 1.4rem;
    line-height: 2;
    color: #333;
}

#calculator_wrap{
	width: 500px;
    margin: 0 auto;
    
    #keyboard{
    	
    }
}